html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden;
    display: block;
}

div.control-panel-div {
    background-color: #e5e5e5;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    position: relative;
    top: 10vh;
}

div.flat-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
}

div.flat-flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}

div.vis-stim-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    padding-top: 3vh;
    width: 100vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
img.fit {
    max-width: 100%;
    height: 15vh;
    display: block;
}
.inline-block {
    display: inline-block;
}

div.xscroll {
    overflow-x: scroll;
}
